@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@250;300;350;380;450;700&display=swap");
/*Info*/
.informacionImg {
  background-image: url(../../../assets/informacion/fondo.png);
  height: 480px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.9);
}

/*Pagos*/
#pagos {
  height: 100%;
  padding: 90px 0 90px 0;
}
#pagos .titlePagos {
  font-family: "DM Serif Display", serif;
  color: #4a9a91;
  font-size: 3rem;
}
#pagos h2 {
  margin-top: 20px;
  color: #969696;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;
}
#pagos .metodos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  color: #7cbfba;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
#pagos .metodos .efectivo {
  display: flex;
}
#pagos .metodos .efectivo p {
  padding-top: 5px;
  margin-left: 10px;
}
#pagos .metodos .transferencia {
  display: flex;
}
#pagos .metodos .transferencia p {
  padding-top: 5px;
  margin-left: 10px;
}

@media (max-width: 610px) {
  /*Informacion*/
  .informacionImg {
    height: 350px;
  }
  /*pagos*/
  #pagos {
    height: 100%;
    padding: 60px 5% 60px 5%;
  }
  #pagos .titlePagos {
    margin-top: 0;
    font-size: 2.4rem;
    text-align: center;
  }
  #pagos h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  #pagos .metodos {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  #pagos .metodos .efectivo {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  #pagos .metodos .efectivo p {
    margin-top: 4px;
  }
  #pagos .metodos .transferencia {
    font-size: 1.4rem;
  }
  #pagos .metodos .transferencia p {
    margin-top: 4px;
  }
}
/*Envio*/
#envio {
  background-color: #4a9a91;
}
#envio .titleEnvios {
  font-family: "DM Serif Display", serif;
  color: #ffffff;
  font-size: 3rem;
  margin-top: 90px;
}
#envio h2 {
  margin-top: 25px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;
}

.envios {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.envios .bicicleta {
  display: flex;
}
.envios .bicicleta p {
  padding-top: 5px;
  margin-left: 10px;
}
.envios .moto {
  display: flex;
}
.envios .moto p {
  padding-top: 5px;
  margin-left: 10px;
}

.correo {
  display: flex;
  color: #ffffff;
  margin-top: 35px;
}
.correo p {
  padding-top: 5px;
  margin-left: 10px;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.dividerFooter {
  width: 80% !important;
  border: #ffffff solid 1px !important;
  margin-top: 80px;
}

#footerEnvio {
  height: 100px;
}
#footerEnvio h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  margin-right: 30px;
}
 #footerEnvio a {
  color: #ffffff;
  margin-left: 15px;
} 
@media (max-width: 335px) {
  #envio .titleEnvios {
    margin-top: 0;
    font-size: 2.2rem;
    text-align: center;
  }
}
@media (min-width: 335px) and (max-width: 610px) {
  #envio .titleEnvios {
    margin-top: 0;
    font-size: 2.4rem;
    text-align: center;
  }
}
@media (max-width: 610px) {
  #envio {
    height: 100%;
    padding: 60px 5% 15px 5%;
  }
  #envio h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  #envio .envios {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #envio .envios .bicicleta {
    font-size: 1.4rem;
  }
  #envio .envios .bicicleta p {
    margin-top: 4px;
  }
  #envio .envios .moto {
    font-size: 1.4rem;
  }
  #envio .envios .moto p {
    margin-top: 4px;
  }
  #envio .correo {
    margin-top: 3px;
  }
  #envio .correo p {
    margin-top: 2px;
    font-size: 1.4rem;
  }
  #envio .dividerFooter {
    margin-top: 40px;
    width: 95% !important;
  }
  #envio #footerEnvio {
    height: 100%;
    display: flex;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=info.css.map */
