@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@250;350;450;700&display=swap");
/*Favortios*/

.mediaOpen {
  background-color: rgba(156, 163, 163, 0.4);
  position: relative;
  overflow: auto;
}
.containerFav {
  max-width: 90% !important;
}
#favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#favoritos .item {
  width: 100%;
}
.linkRegresar {
  width: 210px;
}
.regresar {
  font-family: "Josefin Sans", sans-serif;
  color: #676767;
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 210px;
}
.regresar p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-left: 6px;
  margin-top: -8px;
}
.dividerFavoritos {
  width: 100%;
  margin: 15px 0px 15px 0px;
}
#favoritos .comprarWsp {
  width: 50%;
  height: 50px;
  margin-left: 20px;
  border-radius: 15px;
  background-color: #7cbfba;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 30px;
}
#sinFav h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #676767;
  font-size: 1.6rem;
  font-weight: 350;
  margin-bottom: 30px;
  text-align: center;
}
#sinFav button {
  border-radius: 15px;
  background-color: #7cbfba;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 24px;
}

@media (max-width: 502px) {
  .containerFav {
    max-width: 95% !important;
  }
  .containerFav.openNavFavoritos {
    position: relative;
    top: -157px;
    z-index: -1;
  }
  .footerOpenFav {
    margin-top: -157px;
  }
  .regresar {
    margin-top: 30px;
    font-size: 1rem;
  }
  .regresar p {
    font-size: 1.3rem;
    padding-top: 2px;
  }
  #favoritos .comprarWsp {
    width: 100%;
    font-size: 1rem;
    margin-top: 30px;
  }
}

@media (max-height: 600px) {
  .containerFav {
    min-height: 340px;
  }
}
@media (min-height: 601px) and (max-height: 800px) {
  .containerFav {
    min-height: 465px;
  }
}
@media (min-height: 800px) and (max-height: 930px) {
  .containerFav {
    min-height: 720px;
  }
}
@media (min-height: 930px) {
  .containerFav {
    min-height: 900px;
  }
}
/*FavItem*/

#favItem {
  width: 100%;
}
#favItem .imgFav {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}
#favItem .nombre {
  font-family: "Josefin Sans", sans-serif;
  color: #4a9a91;
  font-size: 1.8rem;
}
#favItem .nombre:hover{
  text-decoration: underline;
}
#favItem .favHeart {
  background-color: #4a9a91;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 14px;
  height: 50px;
}

@media (max-width: 502px) {
  #favItem h1 {
    color: #606060;
    font-size: 1.1rem;
  }
  #favItem .imgFav {
    width: 110px;
    height: 100px;
  }
  #favItem .favHeart {
    height: 40px;
    padding: 3px;
  }
  .gridItem {
    position: relative;
    right: -14px;
  }
  .cross {
    display: block;
    font-size: 1.2rem;
  }
  .corazon {
    display: none;
  }
}

/*Formulario*/

#formularioFavorito {
  z-index: 1;
  position: absolute;
  top: 84px;
  left: 21%;
  background-color: #eff9ed;
  width: 60%;
  padding: 4%;
  border-radius: 15px;
}
#formularioFavorito .closed {
  position: relative;
  left: 98%;
}
.divTitleFormFav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.titleFormFav {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #575757;
}
#formularioFavorito .inputForm {
  border: solid 2px #4a9a91;
  border-radius: 14px;
  height: 45px;
}
.dividerFormFav {
  border: solid 1px #4a9a91 !important;
  width: 140px !important;
  position: relative;
  right: 96px;
}
.buttonFormFav {
  display: flex;
  justify-content: center;
}
@media (max-width: 342px) {
  .dividerFormFav {
    width: 80% !important;
    position: relative;
    right: 0px;
  }
}
@media (min-width: 342px) and (max-width: 502px) {
  .dividerFormFav {
    width: 98px !important;
    position: relative;
    right: 72px;
  }
}
@media (max-width: 502px) {
  #formularioFavorito {
    width: 80%;
    top: 84px;
    left: 11%;
  }
  #formularioFavorito .closed {
    position: relative;
    left: 96%;
    top: -5px;
  }
  .titleFormFav {
    font-size: 1.1rem;
    text-align: center;
  }
  #formularioFavorito .inputForm {
    border: solid 2px #4a9a91;
    border-radius: 14px;
    height: 35px;
    font-size: 0.9rem;
  }
  #buttonFormFav {
    display: flex;
    justify-content: center;
  }
  .buttonFormFav button {
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
  }
  .requerido {
    font-size: 0.9rem;
  }
}
@media (min-width: 502px) and (max-width: 646px) {
  .titleFormFav {
    font-size: 1.2rem;
  }
  .dividerFormFav {
    width: 106px !important;
    position: relative;
    right: 80px;
  }
}

@media (min-width: 1024px) {
  #formularioFavorito {
    top: 100px;
    left: 25%;
    background-color: #eff9ed;
    width: 50%;
    padding: 4%;
  }
  #formularioFavorito .closed {
    left: 102%;
    bottom: 26px;
  }
}
@media (min-width: 1500px) {
  #formularioFavorito {
    left: 30%;
    background-color: #eff9ed;
    width: 40%;
    padding: 3%;
  }
  #formularioFavorito .closed {
    left: 100%;
    bottom: 24px;
  }
}
