@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@250;350;450;700&display=swap");
/*Nosotros*/
#bgNosotros {
  background-color: #eff9ed;
  height: 100%;
  color: #4a9a91;
}

.titleNosotros {
  font-family: "DM Serif Display", serif;
  color: #4a9a91;
  font-size: 3.2rem;
}
 .nosotrosParrafo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #969696;
  font-weight: 300;
}
.bannerQueHacemos {
  margin-bottom: -30%;
}
#nosotrosMobile {
  display: none;
  height: 100%;
  background-color: #ffffff;
  padding: 40px 0 30px 0; 
}

@media (max-width: 400px) {
  .titleNosotros {
    font-size: 2.5rem;
  }
}
@media (max-width: 502px) {
  /*Nosotros*/
  .mobile {
    background-image: url(../../../assets/nosotros/Banner.png) !important;
    height: 350px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #nosotrosDesktop {
    display: none;
  }
  #nosotrosMobile {
    display: flex;
    height: 100%;
  }
  #nosotrosMobile .nosotrosParrafo {
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
@media (min-width: 502px) {
  .nosotrosParrafo {
    font-size: 1.3rem;
  }
  .titleNosotros {
    font-size: 2.4rem;
  }
}
@media (min-width: 767px) {
  .titleNosotros {
    font-size: 3rem;
  }
}
@media (min-width: 830px) and (max-width: 1070px) {
  .nosotrosParrafo {
    font-size: 1.4rem;
  }
  .bannerQueHacemos {
    position: relative;
    top: -8%;
  }
}
@media (min-width: 1070px) {
  .nosotrosParrafo {
    font-size: 1.5rem;
  }
  .bannerQueHacemos {
    position: relative;
    top: -18%;
  }
}
@media (min-width: 1300px) {
  .bannerQueHacemos {
    margin-bottom: -20%;
  }
}
/*Historia*/
#historia {
  height: 100%;
  background-color: #4a9a91;
  padding: 10px 0 60px 0;
}

.titleHistoria {
  font-family: "DM Serif Display", serif;
  color: #ffffff;
  font-size: 4rem;
}

.historiaParrafo {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 10px;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #ffffff;
  font-weight: 300;
}

#historiaMobile {
  display: none;
}

@media (max-width: 502px) {
  /*Historia*/
  #historia {
    padding: 30px 0 40px 0px;
  }
  .titleHistoria {
    font-size: 3.2rem;
  }
  #historiaDesktop {
    display: none;
  }
  #historiaMobile {
    display: flex;
  }
  #historiaMobile p {
    margin-top: 15px;
    padding-top: 0px;
  }
}
@media (min-width: 502px) {
  .historiaParrafo {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) {
  .bannerHistoria {
    position: relative;
    top: -24%;
    margin-bottom: -10%;
  }
}
@media (min-width: 840px) {
  .bannerHistoria {
    position: relative;
    top: -36%;
    margin-bottom: -30%;
  }
  .historiaParrafo {
    font-size: 1.5rem;
  }
}
@media (min-width: 1030px) {
  .historiaParrafo {
    font-size: 1.6rem;
  }
  .bannerHistoria {
    position: relative;
    top: -56%;
  }
}
@media (min-width: 1500px) {
  .historiaParrafo {
    margin-top: 5%;
  }
}
/*Términos y condiciones*/
#terminos {
  height: 100%;
  background-color: #ffffff;
  padding-top: 60px;
}
#terminos .dividerTerminos {
  position: relative;
  right: 158px;
}
#terminos p {
  margin-top: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #969696;
}

@media (max-width: 502px) {
  #terminos {
    padding-top: 50px;
  }
  #terminos .dividerTerminos {
    position: relative;
    right: 0px;
    width: 214px !important;
  }
  #terminos .title {
    text-align: center;
  }
}
@media (min-width: 502px) and (max-width: 632px) {
  #terminos .title {
    font-size: 1.6rem;
  }
  #terminos .dividerTerminos {
    position: relative;
    right: 0px;
    width: 214px !important;
  }
}
@media (max-width: 840px) {
  .parrafoTerminos {
    font-size: 1.4rem;
    line-height: 1.1;
  }
}
@media (max-width: 400px) {
  #terminos .title {
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=nosotros.css.map */
