@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@250;350;450;700&display=swap");

/*ItemListContainer*/
#itemListMobile.openIM {
  position: relative;
  top: -157px;
  z-index: -1;
}
#footerListMobile.openFM {
  margin-top: -157px;
}

/*Categorias*/
#categorias {
  line-height: normal;
  display: flex;
}
#categorias .heartIcon {
  color: #4e958f;
  font-size: larger;
}
#categorias .link {
  margin-right: 10px;
}
#categorias h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  color: #4e958f;
}
#categorias h5:hover, .heartIcon:hover {
transform: scale(1.1);
}
#categorias .productosTitle {
  width: 156px;
}
#categorias .bodyChain {
  width: 92px;
}
#categorias hr {
  border-color: #4e958f;
}
@media (max-width: 502px) {
  #categorias {
    margin-top: 30px;
  } 
  #categorias h5 {
    font-size: 1rem;
  }
  #categorias .productosTitle {
    width: 141px;
  }
  #categorias .bodyChain {
    width: 84px;
  }
}
@media (max-width: 1050px) {
  #categorias {
    padding-bottom: 14px;
    max-width: 90%;
    overflow-x: scroll;
  }
}
/*Item List*/
#containerItemList{
  max-width: 90%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media (max-height: 600px) {
  #containerItemList {
    min-height: 340px;
  }
}
@media (min-height: 601px) and (max-height: 800px) {
  #containerItemList {
    min-height: 450px;
  }
}
@media (min-height: 800px) {
  #containerItemList {
    min-height: 900px;
  }
}
/*Item*/
#cardItem .imgItem {
  width: 330px;
  height: 280px;
  object-fit: cover;
}
#cardItem h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #969696;
  font-weight: 700;
  font-size: 1.2rem;
}
#cardItem h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #969696;
  font-size: 1.1rem;
  font-weight: 500;
}
#cardItem p {
  font-family: "Josefin Sans", sans-serif;
  color: #969696;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 12px;
  margin-bottom: 16px;
}
#cardItem .buttonCard {
  background-color: #7cbfba;
  width: 95%;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 14px;
}
#cardItem .buttonCard:hover {
  background-color: #4fa19c;
}
#cardItem .buttonCardHeart {
  background-color: #4a9a91;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 14px;
}
#cardItem .heart:hover{
  transform: scale(1.2);
}
.imgMobile {
  position: relative;
}
@media (max-width: 502px) {
  #cardItem .imgItem {
    width: 160px;
    height: 160px;
  }
  #inforCard h4 {
    display: none;
  }
  #inforCard h5 {
    margin-top: -14px;
    font-size: 1rem;
    max-width:160px;
  }
  #inforCard p {
    font-size: 1rem;
    margin-top: -6px;
    margin-top: 4px;
  }
  .bgFavMobile{
    display: flex;
  }
  .favMobile {
    display: flex;
  }
  #doubleButton {
    display: none;
  }
}

