@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@250;350;450;700&display=swap");

.bgPersonalizadosDesktop {
  background-color: #4a9a91;
}
.bannerPersonalizado {
  height: 410px;
}
.bgPersonalizadosDesktop .titlePersonalizados {
  font-family: "DM Serif Display", serif;
  color: #ffffff;
  font-size: 4.6rem;
}
.personalizadosText {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 250;
  width: 80%;
}
.personalizadosButton,
.personalizadosButtonB {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px 16px 1px 16px;
  border-radius: 6px;
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #4a9a91;
}
.personalizadosButton {
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 10px;
}
.personalizadosButton:hover,
.personalizadosButtonB:hover {
  background-color: #4a9a91 !important;
  transform: scale(1.1) !important;
}
#personalizadosMobile {
  display: none;
  height: 314px;
  flex-direction: column;
  text-align: center;
  padding: 160px 10% 0 10%;
}
#personalizadosMobile .titlePersMobile {
  font-family: "DM Serif Display", serif;
  color: #ffffff;
  font-size: 3rem;
}
#personalizadosMobile p {
  font-family: "Josefin Sans", sans-serif;
  color: #efefef;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 4px;
}
#formularioPer {
  padding-top: 5px;
}
#formularioPer.openFormularioPer{
margin-top: -157px;
}
/*Formulario*/
#formPersonalizados input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  width: 100%;
  border: solid 2px #4a9a91;
  border-radius: 14px;
  height: 55px;
  padding-left: 3%;
}
#formPersonalizados input:focus {
border: #4a9a91;
}
#formPersonalizados button {
  background-color: #4a9a91 !important;
  color: #ffffff;
  border-radius: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  height: 55px;
  width: 90%;
}
.dividerForm {
  position: relative;
  right:160px ;
  width: 188px !important;
}
.requerido {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  margin-top: 15px;
  color: #676767;
}
#formulario {
  max-width: 90%;
  margin-top: 50px;
}
@media (max-width: 374px) {
  #formulario .title {
    font-size: 1rem;
  }
  .dividerForm {
    right: 71px;
    width: 90px !important;
  }
}
@media (min-width:374px) and (max-width: 501px) {
  #formulario .title {
    font-size: 1.3rem;
  }
  .dividerForm {
    right: 92px;
    width: 116px !important;
  }
}
@media (max-width: 501px) {
  .bgPersonalizadosDesktop {
    background-color: inherit;
  }
  #personalizados {
    display: none;
  }
  #personalizadosMobile {
    display: flex;
  }
  .bgPersonalizados {
    background-image: url(../../assets/personalizados/BannerMobile.png);
    height: 350px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .bgPersonalizados.openP {
    position: relative;
    top: -157px;
  } 

  /*Formulario*/
  #formPersonalizados {
    margin-top: 35px;
  }
  #formPersonalizados input {
    font-size: 1rem;
    height: 45px;
  }
  #formPersonalizados button {
    height: 45px;
    width: 100%;
    font-size: 1.1rem;
  }
}

@media (min-width: 504px) and (max-width: 775px) {
  .bgPersonalizadosDesktop .titlePersonalizados {
    font-size: 3.4rem;
  }
  .bgPersonalizados {
    height: 350px;
  }
  #personalizados {
    margin-top: -50px;
  }
  .bannerPersonalizado {
    height: 300px;
  }
  .algoMasPersonalizado {
    height: 70%;
    width: 80%;
  }
  .personalizadosText {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 250;
    width: 80%;
    margin-top: -20px;
  }

  .personalizadosButton,
  .personalizadosButtonB {
    font-size: 0.9rem;
    padding: 6px 10px 1px 10px;
  }
  .personalizadosButton {
    margin-right: 3%;
  }
}

@media (min-width: 776px) and (max-width: 834px) {
  #personalizados {
    margin-top: -35px;
  }
  .bannerPersonalizado {
    height: 350px;
  }
  .algoMasPersonalizado {
    height: 80%;
    width: 90%;
  }
  .personalizadosText {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 250;
    width: 80%;
  }
  .personalizadosButton,
  .personalizadosButtonB {
    font-size: 1rem;
  }
  .personalizadosButton {
    margin-right: 5%;
  }
}

@media (min-width: 1082px) {
  #personalizados {
    padding-bottom: 30px;
  }
}
