@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@250;350;450;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Componets*/
.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #575757;
  position: relative;
}
.divTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 501px) {
  .title {
    font-size: 1.6rem;
  }
}
