@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@450&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*NavBar Desktop*/
.navBar {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 450;
}
.navBar1 {
  font-family: "Josefin Sans", sans-serif;
  color: #4a9a91;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
}

#navBar h2 {
  text-align: center;
}
#navBar img {
  width: 110px;
  height: 45px;
}
.underline {
  margin-bottom: 35px;
  background-color: #4a9a91;
}

/*NavBar Mobile*/

#navMobile .navTop {
  height: 70px;
  width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  background-color: #4a9a91;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navMobile .menu {
  color: #ffffff;
  font-size: 1.5rem;
}
#navMobile .divider{
  background-color: white;
}


#navMobile .heartNavBar {
  color: #ffffff;
}


.navList {
  background-color: #4a9a91;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 0.3rem;
  list-style: none;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;

}

 .navList.open {
  display: flex;
} 
.navList li {
  width: 100%;
  text-align: center;
  height: 100%;
}
.navList li h1{
  width: 100%;
}
.navList li hr {
  opacity: 0.4;
  margin: 0.3rem 0rem 0.3rem 0rem;
  width: 100%;
}

.differentLi {
  margin-bottom: 0.3rem;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .navBar {
    font-size: 1.1rem;
  }
  .navBar1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .navBar {
    font-size: 1rem;
  }

  .navBar1 {
    font-size: 1rem;
  }

  .logoSize {
    width: 60%;
    margin-left: 14%;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .navBar {
    font-size: 0.8rem;
  }
  .navBar1 {
    font-size: 0.8rem;
  }

  .logoSize {
    width: 60%;
    height: 70%;
    margin-left: 14%;
  }
}
