@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@250;350;450;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#footer{
  max-width: 90%;
  margin-top: 80px;
}
.footerText {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}
.heightFooter {
  height: 100px;
}
.igFooter {
  margin-left: 10px;
  width: 40px;
}
.tiktokFooter {
  margin-left: 5px;
  width: 30px;
}
@media (max-width: 500px) {
  #footer{
    margin-top: 55px; 
  }
  .heightFooter {
    height: 75px;
  }
  .dividerVertical {
    display: none;
  }
  .footerText {
    font-size: 1rem;
  }
  .igFooter {
    margin-left: 5px;
    width: 32px;
  }
  .tiktokFooter {
    margin-left: 3px;
    width: 22px;
  }
}
@media (min-width:500px) and (max-width: 610px){
    .footerText {
        font-size: 1.4rem;
      }
}