@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@250&display=swap");
/*NavBar*/
#navBar {
  font-family: "Josefin Sans", sans-serif;
  /* color: #ffffff; */
  color: #4A9A91;
  align-items: center;
  font-size: 1.3rem;
}

#navBar h2 {
  text-align: center;
}
#navBar img {
  width: 110px;
  height: 45px;
}
.underline {
  margin-bottom: 35px;
  background-color: #4A9A91;
}
/* Footer */
.footerText{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight:lighter;
}

/*Componets*/
.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #575757;
  position: relative;
}

.divTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Home */
.homeImg {
  background-image: url(./assets/home/Banner.png);
  height: 480px;
  width: auto;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

/*Destacados*/
.dividerDestacados {
  position: relative;
  right: 56px;
}

/*Opiniones*/
.dividerOpiniones {
  position: relative;
  right: 38px;
}

/*Personalizados*/

.bgPersonalizados{
  background-color: #4A9A91;
  height: 654px;
}

.personalizadosText{
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 250;
  width: 80%;
}

 .personalizadosButton{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: solid 1px #ffffff;
} 

/*Formulario*/
.dividerForm{
  position: relative;
  right: 154px; 
}

/*Nosotros*/
#bgNosotros{
  background-color: #EFF9ED;
  height: 654px;
  color: #4A9A91;
}

