@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350&display=swap");

.homeImg {
  background-image: url(./assets/Banner.png);
  height: 480px;
  width: auto;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

#navBar {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  align-items: center;
}
#navBar h2 {
  text-align: center;
}
#navBar img {
  width: 110px;
  height: 45px;
}

.underline {
  color: white;
  margin-bottom: 35px;
}

.divTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #575757;
  position: relative;
}

.dividerDestacados {
  position: relative;
  right: 56px;
}

.dividerOpiniones {
  position: relative;
  right: 38px;
}

/* Footer */
.footerText{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight:lighter;
}